*{
    font-family: Helvetica;
    overflow-x: hidden;
}

body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Align items at the start and end */
    padding: 0 40px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    display: flex; /* Use flexbox layout for header */
    align-items: center; /* Center align items vertically */
}

header .logo a {
    margin-top: 2px;
    font-weight: bolder;
    margin-right: auto;
    color: #333;
    font-size: .5em;
    text-decoration: none;
}
header .logo a:hover{
    color: #fff;
}

header nav {
    margin-top: 10px;
    margin-left: auto;
}


header nav {
    margin-top: 10px;
    float: right;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: bolder;
}

header nav ul .users {
    margin: 0;
    border: 4px solid #fff;
    border-radius: 5px;
}

header nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #fff;
    transform: translateY(-5px);
}


header nav ul li a:hover::before {
    transform: scaleX(1);
}


#hero {
    background: #333;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    width: 100%;
}

#hero .intro {
    flex: 1;
    max-width: 50%;
    margin-right: 200px;
}

#hero h2 {
    font-size: 2.5em;
    line-height: 1.5;
    text-align: left;
}

#hero p {
    font-size: .9em;
    font-family: Tahoma;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Button */
#hero .btn, #key-features .btn, .whatsapp-button a, .join-us-btn .btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    border: 5px solid #fff;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#hero .btn:hover, .feature a:hover, #key-features .btn:hover, .whatsapp-button a:hover, .join-us-btn .btn:hover {
    background: #333;
    color: #fff;
    transform: translateY(-5px);
}

#hero .btn:hover::before, .feature a:hover::before, #key-features .btn:hover::before, .whatsapp-button a:hover::before, .join-us-btn .btn:hover::before {
    transform: scaleX(1);
}
#hero .cover-image {
    flex: 1;
    max-width: 50%;
}

#hero .cover-image video {
    max-width: 100%;
    border-radius: 10px;
}

/* Key Features */
.containers {
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    overflow-y: hidden;
    padding: 0 20px;
    text-align: center; /* Center-align text within the container */
}
#key-features {
    padding: 40px 0;
    background-color: #302f2f;
    text-align: center;
}

#key-features .btn {
    margin-top: 50px;
}
#key-features h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bolder;
}

#key-features p {
    font-size: .9em;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Center the items horizontally */
    margin: 0 auto; /* Center the grid within its parent container */
    max-width: 1200px;
}

.feature {
    border: 4px solid #fff;
    padding: 10px;
    border-radius: 10px;
    width: calc(25% - 10px);
    text-align: left;
}
.feature a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
    margin-bottom: 20px;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: transform 0.3s ease-in-out;
}

.feature img:hover {
    transform: scale(1.05); /* Scale up the image slightly on hover */
}

#meet-our-team {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.team-container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333; /* Changed text color */
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #666; /* Changed text color */
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Center the items horizontally */
    margin: 0 auto; /* Center the grid within its parent container */
    max-width: 1200px;
}

.team-member {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out; /* Added hover effect */
    border: 2px solid #fff;
}

.team-member:hover {
    transform: translateY(-10px); /* Added hover effect */
}

.member-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 4px solid #f9f9f9; /* Added border */
    transition: transform 0.3s ease-in-out; /* Added hover effect */
    display: block; /* Center image */
}

.member-info img:hover {
    transform: scale(1.1); /* Added hover effect */
}

.member-info h3 {
    font-size: 1.8em; /* Increased font size */
    margin-bottom: 10px;
    color: #333; /* Changed text color */
}

.member-info p {
    font-size: 1.1em; /* Increased font size */
    margin-bottom: 20px;
    color: #666; /* Changed text color */
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.social-links img {
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    transition: transform 0.3s ease-in-out; /* Added hover effect */
}

.social-links a:hover img {
    transform: scale(1.2); /* Added hover effect */
}
#join-us {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.join-us-container {
    max-width: 1200px;
    margin: auto;
}

#join-us h2 {
    font-size: 2.8em;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #333; /* Changed text color */
}

#join-us p {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #666; /* Changed text color */
}


.join-us-video {
    margin-bottom: 30px;
    max-width: 400px; /* Set a smaller maximum width */
    margin: 0 auto 30px; /* Center the video horizontally */
    border-radius: 10px;
    overflow: hidden;
}

.join-us-video video {
    width: 100%; /* Make the video fit within the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px;
}