{% extends "base.html" %}

{% block title %}Home - ConnectPro{% endblock %}

{% block content %}
<section id="hero">
    <div class="container">
        <div class="intro">
            <h2>Welcome to ConnectPro: Your Professional Networking Platform</h2>
            <p>ConnectPro is your one-stop platform for professional networking, job listings, messaging, feedback, and analytics. Navigate through our sections to explore more.</p>
            <a href="{{ url_for('register') }}" class="btn">Explore ConnectPro</a>
        </div>
        <div class="cover-image">
            <video src="https://cdn.dribbble.com/userupload/13995693/file/original-d66936075e187ed4bc22b54be7b74c94.mp4" autoplay muted loop></video>
        </div>
    </div>
</section>
{% endblock %}

